<%- include('../menu', {active: 'courses'}) %>
<div class="card-container">
  <% if (coursesList.length) { %>
    <% coursesList.forEach((course) => { %>
      <%- include('_show', {course}) %>
    <% }) %>
  <% } %>
  <div class="card new">
      <a href=<%=newCoursePath%>>New Courese</a>
  </div>
</div>