<div class="card title"> <%- `${course.code}: ${course.name}` %> </div>
<div class="card-container">
  <% if (course.Evaluations.length) { %>
    <% course.Evaluations.forEach((evaluation) => { %>
      <%- include('../evaluations/_show', {evaluation, showCourse: false}) %>
    <% }) %>
  <% } %>
    <%- include('../evaluations/_form') %>
</div>
