<div class="card title"> <%- `${course.code}: ${course.name}` %> </div>
<div class="card-container">
  <% if (course.Evaluations.length) { %>
    <% course.Evaluations.forEach((evaluation) => { %>
      <%- include('../evaluations/_show', {evaluation, showCourse: false, isMine}) %>
    <% }) %>
  <% } %>
  <% if (allowedEvaluation.POST) {%>    
  <div class="card new">
    <a href=<%= newEvaluationPath %>>Evaluate This Course</a>
  </div>
  <% }%>
</div>
