<%- include('../menu', {active: 'courses'}) %>
<h2> <%- `${course.code}: ${course.name}` %> </h2>
<h2> Evaluations</h2>
<div class="card-container">
  <% if (course.Evaluations.length) { %>
    <% course.Evaluations.forEach((evaluation) => { %>
      <%- include('../evaluations/_show', {evaluation}) %>
    <% }) %>
  <% } %>
  <div class="card new">
      <a href=<%=newEvaluationPath%>>New Evaluation</a>
  </div>
</div>
