<%- include('../menu', {active: 'universities'}) %>
<div class="card-container">
  <% if (universitiesList.length) { %>
    <% universitiesList.forEach((university) => { %>
      <%- include('_show', {university: university}) %>
    <% }) %>
  <% } %>
  <div class="card new">
      <a href=<%= newUniversityPath %>>New University</a>

  </div>
</div>