<%- include('../menu', {active: 'universities'}) %>
<div class="card-container">
  <% if (universitiesList.length) { %>
    <% universitiesList.forEach((university) => { %>
      <%- include('_show', {university: university}) %>
    <% }) %>
  <% } %>
  <div class="card new">
    <form action="<%= newUniversityPath %>" method="get">
      <input type="submit" value="New University">
    </form>
  </div>
</div>