<%- include('../search/_search') %>
<div class="card-container">
  <% if (universitiesList.length) { %>
    <% universitiesList.forEach((university) => { %>
      <%- include('_show', {university: university}) %>
    <% }) %>
  <% } %>
  <% if (allowedUniversity.POST) { %>
  <div class="card new">
    <a href=<%= newUniversityPath %>>Create New University</a>
  </div>
  <% } %>
</div>