<div class="card-container">
  <% if (universitiesList.length) { %>
    <% universitiesList.forEach((university) => { %>
      <%- include('_show', {university: university}) %>
    <% }) %>
  <% } %>
  <%- include('_form') %>
</div>