<nav>
    <a href="/users"        <%- active === 'users'        ? 'class="active"' : '' %>>Users</a>
    <a href="/universities" <%- active === 'universities' ? 'class="active"' : '' %>>Universities</a>
    <a href="/courses"      <%- active === 'courses'      ? 'class="active"' : '' %>>Courses</a>
    <a href="/evaluations"  <%- active === 'evaluations'  ? 'class="active"' : '' %>>Evaluations</a>
</nav>