$background-color: #F2F2F2;
$content-background-color: #ffffff;
$primary-color: #0077ED;
$secondary-color: #81c0ff;
$alert-color: #FFAD05;
$text-color: #3a3a3a;
$shadow-color: #bfbfbf;
$shadow-color-dark: #b0b0b0;
