$background-color: #F2F2F2;
$content-background-color: #ffffff;
$primary-color: #191919;
$secondary-color: #0081af;
$alert-color: #f3674e;
$text-color: #171a21;
$shadow-color: #bfbfbf;
$shadow-color-dark: #b0b0b0;
$platinum: #e6e8e6;
