.error-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

@media (min-width: 70rem) {
    .error-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.error-card {
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    border: solid thin darkgray;
    background-color: lightcoral;
}