html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: min-content;
  width: 70%;
  max-width: 70rem;
  padding: 0 0.5rem;
}

h2, form, table {
  margin: 0 auto;
  width: fit-content;
}

body a {
  display: block;
  text-align: center;
}

.center {
  margin: 0 auto;
  width: fit-content;
}