nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $secondary-color;
    margin-bottom: 0.5rem;
}

@media (min-width: 70rem) {
    nav {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.menu-item {
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
    color: $text-color;
    font-size: 1.2rem;
    // text-align: center;
    // background: none;
    // border: medium dashed transparent;
    // cursor: pointer;
}

// .menu-item:hover {
//     border-color: black;
//     text-shadow: 0 0 0.15rem $primary-color;
//     background-color: $primary-color;
//     text-decoration: underline;
// }