nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $secondary-color;
    margin-bottom: 0.5rem;
}

.menu-item {
    text-align: center;
    padding: 0.5rem;
    color: $text-color;
    background: none;
    border: medium dashed transparent;
    font-size: 1.2rem;
    cursor: pointer;

}

.menu-item:hover {
    // border-color: black;
    // text-shadow: 0px 0px 0.1rem $primary-color;
    background-color: $primary-color;
}