nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
}

nav > form {
    flex: auto;
    margin: 0;
}

.menu-item {
    flex: auto;
    text-align: center;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    background: none;
    border: medium dashed transparent;
    font-size: 1.2rem;
    transition: border-color 0.1s linear;
}

nav input {
    width: 100%;
}

.menu-user-name {
    background: darkorange;
}

.menu-login {
    background: indianred;
}

.menu-link {
    cursor: pointer;
}

.menu-link:hover {
    border-color: black;
}

.menu-link.active {
    background-color: lightskyblue;
}