.full-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 0 0.5rem;
    grid-template-areas: 
    "img info info info";
}
.full-card ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.full-card-img {
    grid-area: img;
    width: 100%;
    height: 100%;
    
}

.full-card-img >img {
    object-fit: cover;
    border-radius: 50%;
    width: 15vmax;
    height: 15vmax;
}

.full-card-contents {
    grid-area: info;
}

.card-button-container {
    display: flex;
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    visibility: hidden;
}


.full-card:hover .card-button{
    visibility:visible;
}