<div id="search-container">
    <div id="search-header">
        <input type="text" id="search-professor" class="search-field" placeholder="Professor name"/>
        <input type="text" id="search-course"    class="search-field" placeholder="Course name or code"/>
    </div>
    <div id="search-results" class="card-container">
    </div>
</div>