<div class="card title">Your Evaluations</div>
<div class="card-container">
  <% evaluationList.forEach((evaluation) => { %>
    <%- include('../evaluations/_show', {evaluation, showCourse: true}) %>
  <% }) %>
</div>
<form action="<%=  editUserPath(currentUser) %>" method="get">
  <input type="submit" value="Edit profile">
</form>