<%- include('../menu', {active: 'users'}) %>
<form action="<%=  editUserPath(currentUser) %>" method="get">
  <input type="submit" value="Edit profile">
</form>
<h2> Evaluations</h2>
<div class="card-container">
    <% evaluationList.forEach((evaluation) => { %>
      <%- include('../evaluations/_show', {evaluation}) %>
    <% }) %>
</div>
