<%- include('../menu', {active: 'users'}) %>
<form action="<%=  editUserPath(currentUser) %>" method="get">
    <input type="submit" value="Edit profile">
</form>
<h2>Users</h2>
<div class="card-container">
  <% userList.forEach((user) => {%>
      <%- include('../users/_show', {user}) %>
  <% }) %>
</div>