<div class="card title">Your Evaluations</div>
<div class="card-container">
  <% evaluationList.forEach((evaluation) => { %>
    <%- include('../evaluations/_show', {evaluation, showCourse: true}) %>
  <% }) %>
</div>
