<%- include('../search/_search') %>
<div class="card title">Manage Users</div>
<div class="card-container">
  <% userList.forEach((user) => {%>
    <%- include('../users/_show', {user}) %>
  <% }) %>
</div>
